.modal{
    /* width: 600px; */
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    background-color: #ffff;
    top: 25%;
    left: 30%;
    z-index: 1000;
    @media (max-width: 834px) {
        left: 16%;
    }
      @media (max-width: 375px) {
        left: 10%;
    }
}
.modal_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}
.modal_title{
font-family: var(--second-family);
font-weight: 500;
font-size: 28px;
color: #000;
text-align: center;
}
.input{
    border-radius: 10px;
    border: 0;
    width: 440px;
    height: 50px;
    background: #e4e4e4;
    /* margin-bottom:30px ; */
    margin: 0 80px 30px 80px;
    @media (max-width: 834px) {
        /* width: 300px; */
        margin: 0 45px 25px 45px;
    }
    @media (max-width: 375px) {
        width: 250px;
        margin: 0 20px 18px 20px;   
        
    }
}
.input::placeholder{
    padding-left: 20px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
color: #ababab;
}
.label{
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
color: #000;
text-align: left;
margin-bottom: 15px;
margin-left: 80px;
@media (max-width: 834px) {
    margin-left: 45px;
}
@media (max-width: 393px) {
    margin-left: 20px;
}
}
.text{
font-family: var(--font-family);
font-weight: 500;
font-size: 10px;
color: #000;
}
.text a{
    color: #000;
text-decoration: underline;
text-decoration-skip-ink: none;
}
.closeBtn{
    position: relative;
    top: 26px;
    left: 43%;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}